@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
   

    <form action="/adminuser/login" method="POST">
        @Html.AntiForgeryToken()
        <div>
            <label for="Username">Username</label>
            <input name="Username" />
        </div>
        <div>
            <label for="Password">Password</label>
            <input name="Password" type="password" />
        </div>
        <button type="submit">Login</button>
    </form>

    @* <form action="/adminuser/register" method="POST">
        @Html.AntiForgeryToken()
        <button type="submit">Register</button>
    </form> *@
    
</div>
