@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminPanelLayout";
    var actionUrl = "/" + ViewBag.Model.GetType().Name + "/create/save";

}

<h2>Create new @ViewBag.Model.GetType().Name</h2>

@* @Model *@

<div class="form-wrapper" style="position: relative;">
    <form action="@actionUrl" method="POST">
        @Html.AntiForgeryToken()
        @Model
        <button class="bg-green create-button">CREATE</button>
    </form>
</div>
