@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminPanelLayout";
    string modelName = ViewBag.Model.GetType().Name;
    int id = ViewBag.Model.ID;
    string actionUrl = "/" + modelName + "/edit/save/" + id;
    bool isAdmin = Int32.Parse(Context.User.Claims.First(c => c.Type == "IsAdmin").Value) == 1 ? true : false;
}

<h2>Edit @modelName</h2>

<div class="form-wrapper" style="position: relative;">
        <div class="action-buttons">
            @if (isAdmin)
            {
                <form action="/@modelName/delete/@id" method="POST">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="bg-red delete-button">
                        DELETE
                    </button>
                </form>
            }
            else
            {
                <a href="/@modelName/list">
                    <button>Back To List</button>
                </a>
            }
        </div>
    <form action="@actionUrl" method="POST">
        @Html.AntiForgeryToken()
        @Model
        @if (isAdmin)
        {
            <button class="bg-green save-button">SAVE</button>
        }
    </form>
</div>