@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminPanelLayout";
    string modelName = ViewBag.Model.GetType().Name;
    int id = ViewBag.Model.ID;
}

<h2>Edit</h2>

<div class="action-buttons flex">

    <form action="/@modelName/delete/@id" method="POST">
        <button type="submit">
            DELETE
        </button>
    </form>
</div>

@Model